@import url("./reset.css");

:root {
  --base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --spacing: 8px;
  --text-color: #444;
  --bg-color: #efefef;
  --input-bg-color: #fff;
  --active-color: #159fc5;
  --grey-color: #888;
  --grey-color-light: #ccc;
  --content-width: 600px;
}

body {
  font-family: var(--base-font-family);
  font-size: 14px;
  line-height: 1.2;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.wrapper {
  margin: auto;
  padding: var(--spacing);
  max-width: var(--content-width);
}

.app-header {
  margin: 5% 0;
  font-size: 1.4em;
}

.task-item {
  --outline-width: 0;
  margin-bottom: var(--spacing);
}

.task-item:hover,
.task-item:focus-within {
  outline: 1px solid var(--active-color);
}

.task-item,
.task__input {
  border-radius: 4px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
}

.task-item,
.task-item label {
  display: flex;
  align-items: center;
}

.task-item label {
  padding: var(--spacing);
  flex: 1 1 auto;
  cursor: pointer;
}

.task-item svg {
  width: 1em;
  height: 1em;
  font-size: 20px;
  fill: currentColor;
}

.task__checkbox {
  position: absolute;
  top: 0;
  left: 100%;
  width: 0;
  height: 0;
  font-size: 0.1px;
  opacity: 0;
}

.task__checkbox-placeholder {
  display: inline-block;
  margin-right: 1em;
  flex: 0 0 1em;
  width: 1em;
  height: 1em;
  border-radius: 2px;
  border: 1px solid var(--grey-color-light);
  outline: var(--outline-width) solid var(--grey-color-light);
  position: relative;
  transition: 0.1s ease-in-out;
}

.task__checkbox-placeholder svg {
  position: absolute;
  top: -4px;
  left: 1px;
}

.task__delete-button {
  display: inline-block;
  margin: 0 var(--spacing);
  padding: 0;
  border-radius: 1em;
  background-color: transparent;
  cursor: pointer;
  border: 0 none;
  outline: var(--outline-width) solid var(--grey-color-light);
  outline-offset: 3px;
  transition: 0.1s ease-in-out;
}

.task-item.done label {
  color: var(--grey-color);
  text-decoration: line-through;
}

.task-item label:hover,
.task-item label:focus-within,
.task__delete-button:hover,
.task__delete-button:focus {
  --outline-width: 3px;
  color: var(--active-color);
}

.task__delete-button img,
.task__delete-button svg {
  display: block;
  width: 1em;
  height: 1em;
  font-size: 16px;
}

.task__delete-button svg {
  fill: var(--grey-color);
}

.task__delete-button:hover svg,
.task__delete-button:focus svg {
  fill: var(--text-color);
}

.task__delete-button>* {
  pointer-events: none;
}

.task__input {
  margin-top: var(--spacing);
  padding: var(--spacing);
  width: 100%;
  border: 1px solid var(--grey-color-light);
  background-color: var(--bg-color);
}

.task__input:focus {
  outline: none;
  background-color: var(--input-bg-color);
  border-color: var(--active-color);
  box-shadow: 0 0 3px rgba(var(--active-color), 0.5);
}